* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

a:active {
    color: orangered;
}

/* HELP BAR */

.help-bar{
    position: absolute;
    left: 1200px;
    background-color: #FED903;
}

.help-bar > ul > li{
    display: inline;
    list-style-type: none;
    margin: 5px 20px 0px 0px;
    background-color: #FED903;
}

.help-bar > ul > li > a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    margin-left: 1vw;
}

/* NAVBAR */

.navbar{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 10vh;
    background-color: white;
    color: black;
}

.logo-brand > img{
    width: 200px;
    height: 90px;
    margin: -10px 0px 0px 15px;
}

.nav-list{
    margin-top: 4vh;
    margin-left: 15vw;
}

.nav-list > ul > li > a{
    color: black!important;
}

.list-item {
    margin-right: 5vw;
    display: inline;
    text-transform: uppercase;
    font-size: 1em;
}

/* SEARCH FORM */

.search-form{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: #EAEAEA;
}

.search-form > div{
    position: relative;
    width: 100%;
}

.search-form > div > input {
    background-color: white;
    padding: 8px;
    margin-top: 1vh;
    border: 1px solid darkgrey;
}

.search-form > div > select {
    background-color: white;
    padding: 7px;
    margin-top: 1vh;
    border: 1px solid darkgrey;
    color: gray;
}

.search-form > div > button {
    padding: 6px 10px;
    border: 1px solid #00CDAA;
    background-color: #00CDAA;
    color: white;
    font-size: 1em;
    cursor: pointer;
    width: 12vw;
    margin-top: 1vh;
    margin-left: -51px;
}

.search-form > div > span {
    color: black;
    font-weight: bold;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 0.7em;
}

/* HEADER */

.header{
    background-image: url("../assets/header-picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 700px;
    width: 100%;
}

.header-title{
    position: absolute;
    text-transform: uppercase;
    top: 300px;
    left: 265px;
    color: white;
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
}

.header-button{
    position: absolute;
    top : 400px;
    left: 600px;
    border-radius: 28px;
    padding: 10px 20px;
    border: 1px solid #00CDAA;
    background-color: #00CDAA;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}

.header-button:hover{
    border: 1px solid #EAEAEA;
    background-color: #00CDAB;

}

/* ABOUT US */

.about-us{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

.circle-purple {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 840px;
    top: 895px;
}

.circle-orange {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 840px;
    top: 1120px;
}

.circle-blue {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 120px;
    top: 1400px;
}

.circle-yellow {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 120px;
    top: 1625px;
}

.about-us > div{
    width: 100%;
    min-height: 70vh;
}

.first-line-img{
    background-image: url("../assets/about-first.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

.second-line-img{
    background-image: url("../assets/about-second.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-container > div > i{
    margin: 18px 0px 0px 15px;
}

.flex-container  > h2{
    margin: 80px 250px 0px 200px;
    text-transform: uppercase;
    font-weight: bold;
}

.flex-container  > p{
    margin: 10px 100px 20px 120px;
}

/* NEWSLETTER */

.newsletter{
    display: flex;
    flex-wrap: nowrap;
    background-color: #FED903;
}

.newsletter > div > p {
    margin-left: 10vw;
    font-size: 1.4em;
    color: black;
    padding: 20px;
}

.newsletter > div > p > span {
    font-size: 1.1em;
    color: #00CDAA;
    font-weight: bold;
}

.subscribe-button{
    margin-top: 10px;
    padding: 5px 20px;
    border: 1px solid #00CDAA;
    background-color: #00CDAA;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: -5px;
}

.form-newsletter{
    display: inline;
    margin-left: 10vw;
    margin-top: 1vh;
}

.form-newsletter > form > input {
    padding: 10px 10px 7px 10px;
    border: none;
    min-width: 15vw;
}

/* FOOTER */

.footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: #534B8E;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

.img-social-media{
    height: 25px;
    width: 25px;
    margin: 10px 30px 0px 0px
}

.footer > div > h5 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footer > div > ul > li{
    list-style-type: none;
    margin-bottom: 10px ;
    color: white !important;
}

.footer > div > ul > li > a{
    color: white !important;
    text-decoration: none;
}

.footer-container > p {
    margin-bottom: 10px;
}

.copyright{
    background-color: darkslateblue;
}

.copyright > p {
    margin-left: 15vw;
    color: white;
    padding: 15px 5px 5px 5px;
    font-size: 0.8em;

}

@media only screen and (min-width: 601px){
    .topnav{
        display: none;
    }
}


/* Mobile CSS */

@media only screen and (max-width: 600px) {


    .container{
        overflow: hidden;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        background-color: #534B8E;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: #00CDAA;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #534B8E;
        color: white;
    }

    .active {
        background-color: white;
        color: white;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .help-bar{
        display: none;
    }


    .navbar{
       display: none;
    }

    .logo-brand > img{
        width: 100px;
        height: 80px;
        margin: 5px 0px 0px 15px;
    }

    .search-form{
        display: none;
    }

    .list-item {
        display: none;
    }

    .header{
        background-image: url("../assets/header-picture.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: 600px;
        width: 100%;
    }

    .header-title{
        position: absolute;
        text-transform: uppercase;
        top: 300px;
        left: 50px;
        color: white;
        font-size: 1.2em;
        text-shadow: 1px 1px 2px black;
    }

    .header-button{
        position: absolute;
        top : 400px;
        left: 110px;
        border-radius: 28px;
        padding: 10px 20px;
        border: 1px solid #00CDAA;
        background-color: #00CDAA;
        color: white;
        font-size: 1em;
        cursor: pointer;
    }

    .header-button:hover{
        border: 1px solid #EAEAEA;
        background-color: #00CDAB;

    }

    .about-us{
        display: grid;
        flex-wrap: nowrap;
        background-color: white;
    }

    .circle-purple {
       display: none;
    }

    .circle-orange {
       display: none;
    }

    .circle-blue {
       display: none;
    }

    .circle-yellow {
        display: none;
    }

    .about-us > div{
        width: 100%;
        min-height: 30vh;
    }

    .first-line-img{
        display: none;
    }

    .second-line-img{
        background-image: url("../assets/about-second.jpg") ;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .flex-container > div > i{
        margin: 18px 0px 0px 15px;
    }

    .flex-container  > h2{
        margin: 30px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .flex-container  > p{
        margin: 20px;
    }

    .newsletter{
        display: grid;
        flex-wrap: nowrap;
        background-color: #FED903;
    }

    .newsletter > div > p {
        margin-left: 10vw;
        font-size: 1.4em;
        color: black;
        padding: 20px;
    }

    .newsletter > div > p > span {
        font-size: 1.1em;
        color: #00CDAA;
        font-weight: bold;
    }

    .subscribe-button{
        margin-top: 10px;
        padding: 5px 20px;
        border: 1px solid #00CDAA;
        background-color: #00CDAA;
        color: white;
        font-size: 1.1em;
        cursor: pointer;
        margin-left: -5px;
    }

    .form-newsletter{
        display: inline;
        margin-left: 18vw;
        margin-top: 1vh;
        padding-bottom: 5vh;
    }

    .form-newsletter > form > input {
        padding: 10px 10px 7px 10px;
        border: none;
        min-width: 15vw;
    }

    .footer{
        display: grid;
        flex-wrap: nowrap;
        background-color: #534B8E;
        color: white;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 5vh;
    }

    .img-social-media{
        height: 25px;
        width: 25px;
        margin: 10px 30px 0px 0px
    }

    .footer > div > h5 {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .footer > div > ul > li{
        list-style-type: none;
        margin-bottom: 10px ;
        color: white !important;
    }

    .footer > div > ul > li > a{
        color: white !important;
        text-decoration: none;
    }

    .footer-container > p {
        margin-bottom: 10px;
    }

    .copyright{
        background-color: darkslateblue;
    }

    .copyright > p {
        margin-left: 10vw;
        color: white;
        padding: 15px 5px 5px 5px;
        font-size: 0.8em;

    }

}

